# TiDB Serverless (TiDB Cloud)
# DATABASE_URL="mysql://user:password@gateway.tidbcloud.com:4000/travel_diary?ssl={"minVersion":"TLSv1.2","rejectUnauthorized":true}"

# TiDB local / self-hosted
DATABASE_URL="mysql://root:@localhost:4000/travel_diary"


NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloud-name"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="travel_diary"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
SMTP_FROM="TravelDiary <noreply@traveldiary.com>"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
